h1{
  font-size: 50px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #666666;
  background: #666666; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #666666 , lightgray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #666666, lightgray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #666666, lightgray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #666666 , lightgray); /* Standard syntax */
  border-right: dashed;
  border-color: white;
      height: 100%;
      color: white;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      text-align: center;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    .menu-item {
     
      border: solid;
      color: white;
      font-weight: bold;
    }
    .menu-item a {
      color: lightblue;
      font-weight: bold;
    }

    .widget-area a {
     
      color: lightblue;
      font-weight: bold;
    }

/*start homepage banner css
    .bannerImage {
      width: 100%;
      height: 100%;
    }

end homepage banner css*/
